body {
    font-family: Arial, sans-serif;
    background-color: #007bff3b;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.counter-section {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.heading {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin-top: 20px;
}

.count-display #count {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    color: #007BFF;
}
.action-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.buttons {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-buttons .increment {
    background-color: #28a745;
    color: white;
}

.action-buttons .increment:hover {
    background-color: #218838;
}

.action-buttons .decrement {
    background-color: #dc3545;
    color: white;
}
.action-buttons .decrement:hover {
    background-color: #c82333;
}
.action-buttons .reset {
    background-color: #ffc107;
    color: white;
}
.action-buttons .reset:hover {
    background-color: #e0a800;
}

.modal {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}