body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    color: white;
}
.example-section {
    padding: 20px;
    width: 400px;
    text-align: center;
}
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.4);
}
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 100px auto;
    width: 300px;
    height: 200px;
    background-color: white;
    color: black;
    text-align: center;
}